Version=1
Type=Application
Terminal=false
Comment=Sistema de Video Vigilancia
Icon=/usr/local/share/icons/hicolor/32x32/apps/ViewerServer.png
Name=ViewerServer
Exec= /usr/local/bin/ViewerServer
